{
  "presets": [
    "react",
    "stage-2",
  ],
  "plugins": [
    "transform-runtime",
    "syntax-dynamic-import",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "react-hot-loader/babel",
    "transform-regenerator",
  ],
  "env": {
    "test": {
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "istanbul"
      ]
    }
  }
}
